#menu_button {
    display: flex;
    flex-direction: column;
    font-size: 110px;
    opacity: 0;
    animation: reveal 4s 2s forwards;
    justify-content: center;
    align-items: center;
    transition: color 0.5s;
}

.bg_button {
    background: #458EFD;
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 50%;
    transition: scale 1s ease-in-out, background 1s;
    z-index: -1;
}

#menu_button span {
    width: fit-content;
    height: 9.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



.body_visible {
    opacity: 1 !important;
    z-index: 4 !important;
    transition: opacity 0s 1s;
}

.button_visible {
    color: white;
}



@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}