#portfolio_background_container {
    font-family: 'Architects Daughter', 'Magra';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #e1e1e1;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

@media (min-width: 1280px) {
    #portfolio_background_container {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0px;
    }
}