@font-face {
    font-family: Architects Daughter;
    src: url(/fonts/ArchitectsDaughter-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Passion One;
    src: url(/fonts/PassionOne-Black.ttf) format('truetype');
}

@font-face {
    font-family: Magra;
    src: url(/fonts/Magra-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    cursor: default;
}